* {
    box-sizing: border-box;
}
body {
    display: block;
    position: absolute;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.title {
    text-align: center;
    position: relative;
    margin: auto;
}
